.shapka{
    display: flex;
    justify-content: flex-end;}
.shapka p{
    display: flex;
  justify-content: flex-end;
  width: 400px;
  height: 280px;
  text-align: right;

}

.qr{
    display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 80px;
  width: 150px;
}

.bodytext{
    text-align: justify;
  text-indent: 15px;
}
.bodytext h3{
    text-align: center;
}
.bodytext p{
    text-align: justify;
}
#report {width: auto;
   background-color: white;
  color: black;
  padding: 20px 50px;
    }
     
    .btn {
      border-radius: 8px;
      border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      cursor: pointer;
      transition: border-color 0.25s;
  }

#anketa{
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  width: 210mm;
  height: 297mm;
}
#anketaPadding{
  padding-left: 10mm;
  padding-top: 10mm;
  padding-right: 10mm;
  padding-bottom: 5mm;
}
#anketaHeader{
  font-size: 17pt;
  text-align: center;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#anketaTable{
  
  font-size: 11pt;
  text-align: left;
  border-color: black; 
}
 #anketaTable, #anketaTr, #anketaTd{
  border-collapse:collapse;
  border: 1px solid;
  
} 
#anketaTr, #anketaTd{
  width: 105mm;
}