.shapka {
  display: flex;
  justify-content: flex-end;
}

.shapka p {
  display: flex;
  justify-content: flex-end;
  width: 400px;
  height: 280px;
  text-align: right;

}

.qr {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 80px;
  width: 150px;
}

.bodytext {
  text-align: justify;
  text-indent: 15px;
}

.bodytext h3 {
  text-align: center;
}

.bodytext p {
  text-align: justify;
}

#report {
  width: auto;
  background-color: white;
  color: black;
  padding: 20px 50px;
}
.btnNeutral {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:white;
  cursor: pointer;
  transition: border-color 0.25s;
}
#contractBackground{
  background-color:darkgrey;
}
#contract {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  width: 297mm;
  font-size: 10pt;
  line-height: 13pt;
}

#contractPadding {
  padding-left: 20mm;
  padding-top: 20mm;
  padding-right: 10mm;
  padding-bottom: 20mm;
}
#title {
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  width: 210mm;
  height: 290mm;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
}
#titlePadding {
  padding-left: 20mm;
  padding-top: 20mm;
  padding-right: 10mm;
  padding-bottom: 20mm;
}
#act{
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  width: 210mm;
  height: 290mm;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
}
#actPadding{
  padding-left: 20mm;
  padding-top: 20mm;
  padding-right: 10mm;
  padding-bottom: 20mm;
}
#contractTable{
  text-align: left;
  overflow: visible;
  display: block;
  text-align: justify;
}

/* #contractTr{
  width: 100px;
} */
#contractTd{
  max-width: 490px;
  padding-right: 43px;
}

#inventoryReceipt {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  width: 297mm;
  height: 210mm;
}

#inventoryReceiptPadding {
  padding-left: 10mm;
  padding-top: 10mm;
  padding-right: 8mm;
  padding-bottom: 5mm;
}

#inventoryReceiptTable {
  font-size: 10.5pt;
  text-align: left;
  border-color: black;
}
#IRTableTR{
  border-collapse: collapse;
  border: 1px solid;
}

#IRTableHeader{
  text-align: center;
  font-weight: bold;
  border: 1px solid white;
  border-collapse: collapse;
}
#documentNavbar{
  border-radius: 10px;
  background-color:#088c64;
  height: 52px;
  padding-top: 10px;
}
#documentNavbarButton{
  color:black;
  background-color: #e7e7e7;
}
#IRTableNumber {
  width: 13mm;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid;
}

#IRTableText {
  width: 150mm;
  border-collapse: collapse;
  border: 1px solid;
  margin-left: 100px
}

#IRTableBlank {
  width: 20mm;
  border-collapse: collapse;
  border: 1px solid;
}
td {
  vertical-align: top;
}

#opaqueTable{
  border-radius: 25px;
  background: rgba(20, 50, 20, .08)
}

#table-divider{
  height: 60px;
  border-radius: 12px;
  background: rgba(84, 84, 84, 0.064)
}

#table-divider-stats{
  padding-left: 14px;
  padding-right: 20px;
  height: 40px;
  border-radius: 12px;
  background: rgba(84, 84, 84, 0.064);
  vertical-align: middle;
}


#anketa {
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  width: 210mm;
  height: 290mm;
}

#anketaPadding {
  padding-left: 10mm;
  padding-top: 10mm;
  padding-right: 10mm;
  padding-bottom: 5mm;
}

#anketaHeader {
  font-size: 17pt;
  text-align: center;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#anketaTable {
  font-size: 10.9pt;
  text-align: left;
  border-color: black;
  background-color: white;
  table-layout: fixed;
  width: 210px;
}

#anketaTable,
#anketaTr,
#anketaTd {
  border-collapse: collapse;
  border: 1px solid;
}

#actTable{
  border-collapse: collapse;
  border: 1px solid;
}
#actTr,
#actTd {
  border-collapse: collapse;
  border: 1px solid;
}
#actTd{
  width: 14%;
}

#anketaTr,
#anketaTd {
  width: 95mm;
}